<%- include('partials/header.ejs') %>
<h1>Edit Blog Post</h1>

<!-- Form to edit the blog post -->
<form action="/edit/<%= locals.index %>" method="POST">
    <label for="bloggerName">Blogger Name:</label>
    <input type="text" id="bloggerName" name="bloggerName" value="<%= locals.bloggerName %>" required><br><br>
  
    <label for="postTitle">Post Title:</label>
    <input type="text" id="postTitle" name="postTitle" value="<%= locals.postTitle %>" required><br><br>
  
    <label for="blogPost">Blog Post:</label>
    <textarea id="blogPost" name="blogPost" required><%= locals.bloggerPost %></textarea><br><br>
  
    <input type="hidden" name="index" value="<%= locals.index %>"> 
    <button type="submit">Save Changes</button>
  </form>
  <a href="/posts">Back to posts</a>
  

<%- include('partials/footer.ejs') %>